body .Principale {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 550vh;
}
body .Secondaire {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 280vh;
}

header {
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo img {
  height: 80px;
  width: 200px;
  background-color: aqua;
}
header .menu {
  height: 80px;
  width: 800px;
  margin: 0;
  padding: 0;
  align-items: center;
}
header .menu ul {
  margin-bottom: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
}
header .menu button {
  font-size: 24px;
  background-color: black;
}
header .authentification button {
  height: 50%;
  width: 150px;
  border-radius: 10px;
  background-color: aqua;
}

.presentation {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../media/backgroud.jpg);
}
.presentation__1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.presentation__1 h1 {
  font-size: 150px;
  color: white;
}
.presentation__1 h2 {
  font-size: 45px;
  color: white;
}

.history {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history__h2 h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}
.history__p {
  height: 300px;
  width: 90%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.history__p p {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 30px;
}
.history__service h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  text-decoration-line: underline;
}

.service {
  height: 70vh;
  width: 100%;
  border: 1px solid blue;
  margin-top: 120px;
}
.service__restaurant {
  display: flex;
}
.service__restaurant1 {
  height: 500px;
  width: 50%;
  border: 1px solid red;
  background-image: url(../media/restaurant.jpg);
  background-size: cover;
  background-position: center;
}
.service__restaurant2 {
  height: 500px;
  width: 50%;
  border: 1px solid green;
}
.service__restaurant2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  color: blue;
}
.service__restaurant2 p {
  text-align: center;
  font-size: 32px;
}
.service__piscine {
  display: flex;
  height: 70vh;
  width: 100%;
  border: 1px solid blue;
  margin-top: 45px;
}
.service__piscine1 {
  height: 500px;
  width: 50%;
  border: 1px solid red;
  background-image: url(../media/piscine.jpg);
  background-size: cover;
  background-position: center;
}
.service__piscine2 {
  height: 500px;
  width: 50%;
  border: 1px solid green;
}
.service__piscine2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  color: blue;
}
.service__piscine2 p {
  text-align: center;
  font-size: 32px;
}
.service__chambre {
  display: flex;
  height: 70vh;
  width: 100%;
  border: 1px solid blue;
  margin-top: 0px;
}
.service__chambre1 {
  height: 500px;
  width: 50%;
  border: 1px solid red;
  background-image: url(../media/chambre.jpg);
  background-size: cover;
  background-position: center;
}
.service__chambre2 {
  height: 500px;
  width: 50%;
  border: 1px solid green;
}
.service__chambre2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  color: blue;
}
.service__chambre2 p {
  text-align: center;
  font-size: 32px;
}
.service__barre {
  display: flex;
  height: 70vh;
  width: 100%;
}
.service__barre1 {
  height: 500px;
  width: 50%;
  border: 1px solid red;
  background-image: url(../media/barre.jpg);
  background-size: cover;
  background-position: center;
}
.service__barre2 {
  height: 500px;
  width: 50%;
  border: 1px solid green;
}
.service__barre2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  color: blue;
}
.service__barre2 p {
  text-align: center;
  font-size: 32px;
}

.authen {
  height: 150px;
  width: 100%;
  margin-top: 2400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authen button {
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
  height: 80px;
  width: 50%;
}

.contact {
  height: 500px;
  width: 100%;
  background-color: black;
  border: 1px solid red;
  margin-bottom: 20px;
  display: flex;
}
.contact__1 {
  width: 25%;
  height: 500px;
  text-align: center;
  font-size: 25px;
  color: white;
}
.contact__1 img {
  height: 150px;
  width: 250px;
  margin-top: 70px;
}
.contact__2 {
  width: 25%;
  height: 500px;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 100px;
}
.contact__3 {
  width: 25%;
  height: 500px;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 100px;
}
.contact__4 {
  width: 25%;
  height: 500px;
  text-align: center;
  color: white;
  margin-top: 100px;
  font-size: 25px;
}
.contact__4 img {
  height: 300px;
  width: 350px;
}

.reservation {
  height: 120vh;
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
.reservation h2 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}
.reservation form {
  display: flex;
  font-size: 32px;
  justify-content: space-around;
  text-align: start;
}
.reservation form__table {
  height: 700px;
  width: 75%;
}
.reservation form__table1 {
  height: 700px;
  width: 50%;
}
.reservation form__table2 {
  height: 700px;
  width: 50%;
}

.Validation {
  height: 150px;
  width: 100%;
  margin-top: 150px;
  text-align: center;
}
.Validation button {
  background-color: aqua;
  border-radius: 10px;
  font-size: large;
  height: 80px;
  width: 25%;
}

/*# sourceMappingURL=style.css.map */
